<!doctype html> 
<script>
    window.watsonAssistantChatOptions = {
        integrationID: "839e59c9-61ee-44de-ab2d-5f72d9cba502", // The ID of this integration.
        region: "us-south", // The region your integration is hosted in.
        serviceInstanceID: "106a9a43-e1d9-46e9-b173-99f1dd7c2324", // The ID of your service instance.
        onLoad: function(instance) { instance.render(); }
      };
    setTimeout(function(){
      const t=document.createElement('script');
      t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js"
      document.head.appendChild(t);
    });
  </script>


<html> <head>
    <style>
    .foodbg {
      width: 100%;
    }
  </style>
    <title>Healthy or Fried!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> </head> <body><img class="foodbg" src="https://i.ibb.co/0JJdm9Z/websitebackground.jpg"/> <div id="maintext" 
style="position:absolute; margin:auto; width:700px; height:200px; text-align:center; top:0; bottom: 0; left: 0; right: 0;">
  <h1 class="text-light mb-2"> Upload a snapshot of your food to find out! </h1>
  <h4 class="text-light mb-5">(Please upload images less than 500kb in size)</h4>
  <form method=post enctype=multipart/form-data>
     <p class="text-light">
        <input type=file name=file>
        <input type=submit value=Upload>
     </p>
  </form> </div> </body>
</html>
